*.o
\#*#
*#
.#*
.*~
*~
.DS_Store
*.sw[po]
tags
TAGS
.svn
*.dSYM
*.log
*.dvi
*.aux
*.elc
.zshrc.local
.python-version
samples
.netrwhist
.bundle
/vendor/bundle
Gemfile.lock
node_modules
bower_components
fishd.*

# nvim
.config/nvim/lazy-lock.json
.config/nvim/lazyvim.json
tt.*
.tests
doc/tags
debug
.repro
foo.*
*.log
data
